/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121417;
    color: whitesmoke;
}

header {
    background-color: #00ad9f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00ad9f;
    overflow: hidden;
}

nav li {
    float: left;
    border: 0;
    padding: 0;
    background-color: unset;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #01867b;
}

nav a.active {
    background-color: #01867b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    padding-right: 30px;
    padding-left: 30px;
}

footer {
    background-color: #00ad9f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    padding: 14px;
    background-color: #00ad9f;
    color: white;
    border: none;
    font-size: 16px;
}

nav {
    background-color: #00ad9f;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav.active ul {
        display: flex;
    }

    img {
        width: 100%;
    }

    .mobile-toggle {
        display: block;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .small {
    font-size: 14px;
  }
  
  .large {
    font-size: 18px;
  }
  
  .primary {
    background-color: #007bff;
  }
  
  .secondary {
    background-color: #6c757d;
  }
  
  .success {
    background-color: #28a745;
  }
  
  .warning {
    background-color: #ffc107;
  }
  
  .danger {
    background-color: #dc3545;
  }
  
  .box {
    display: inline-block;
    margin-right: 20px;
    width: 300px;
    height: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .box img {
    width: 100%;
    height: 214px;
    object-fit: cover;
  }
  