/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121417;
    color: whitesmoke;
}

header {
    background-color: #00ad9f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00ad9f;
    overflow: hidden;
}

nav li {
    float: left;
    border: 0;
    padding: 0;
    background-color: unset;
}

li {
    color: rgb(209, 6, 50);
    background-color: rgb(202, 202, 202);
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #282c34;
    border-radius: 4px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #01867b;
}

nav a.active {
    background-color: #01867b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    padding-right: 30px;
    padding-left: 30px;
}

code {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: #282c34;
    padding: 3px 5px;
    border: 1px solid #282c34;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    line-height: 1.4;
}

pre {
    margin: 0;
    overflow-x: auto;
    display: inline-block;
}

footer {
    background-color: #1f6de2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    padding: 14px;
    background-color: #00ad9f;
    color: white;
    border: none;
    font-size: 16px;
}

nav {
    background-color: #00ad9f;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav.active ul {
        display: flex;
    }

    img {
        width: 100%;
    }

    .mobile-toggle {
        display: block;
    }
}